<form ng-submit="vm.submit()">
	<div class="panel mbn">
		<div class="panel-heading">
			<div class="panel-title">Opravdu provést tuto akci?</div>
		</div>
		<div class="panel-body pbn">
			<p>Opravdu chcete odstranit {{:: vm.subject }} <strong>{{:: vm.getValue() }}</strong>?</p>
		</div>
		<div class="panel-footer clearfix">
			<div class="pull-right">
				<button type="button" ng-disabled="vm.loading" class="btn btn-default" ng-click="$dismiss()">Zrušit</button>
				<button type="submit" ng-disabled="vm.loading" class="btn btn-danger">Odstranit</button>
			</div>
		</div>
	</div>
</form>