@import "../mixins";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";

#homepage {
  h2 {
	font-size: 1.8em;
  }

  .informations {
	background: $homepage-color-background;

	h2 {
	  margin: 0 auto 1em;
	  font-size: 1.6em;
	}

	.column {
	  @include make-lg-column(6.5);

	  &.right {
		@include make-lg-column(5.5);
	  }
	}

	.box {
	  padding: 1.5em 0;

	  &.description {
		padding-right: 1em;
	  }

	  &.white {
		background: #fff;
		padding-left: 2em;
	  }

	  h3 {
		margin-top: 0;
		margin-bottom: 1em;
	  }

	  p {
		text-align: justify;

		&:last-of-type {
		  margin-bottom: 0;
		}
	  }
	}

	.random {
	  @include make-row(10px);

	  .column {
		@include make-sm-column(3, 10px);
	  }

	  .exposition {
		height: 200px;
	  }
	}

	.feeds {
	  float: right;
	  margin-right: 2em;

	  img {
		max-width: 26px;
	  }
	}

	ul {
	  margin: 0 auto;
	  padding: 0 1.5em;
	  @include clearfix;

	  li {
		float: left;
		width: 50%;
		text-align: left;
	  }
	}
  }

  .exposition {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 300px;

	&:hover {
	  text-decoration: none;
	}

	.thumbnail {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-size: cover;
	  background-repeat: no-repeat;
	}

	.overlay {
	  position: absolute;
	  left: 0;
	  top: 100%;
	  width: 100%;
	  height: 100%;
	  padding: 1em;
	  color: $color-white;
	  background: rgba(0, 0, 0, 0.75);
	  @include transition(top 0.5s);

	  .title {
		margin: 0 auto 1em;
		text-align: left;
	  }

	  p {
		margin: 0;
		font-size: 0.9em;
		text-align: justify;
	  }
	}
  }

  .articles-expos {
	@include make-row();
	padding-bottom: 1em;

	.navigation {
	  margin-top: 1em;
	  text-align: center;
	}

	.column {
	  @include make-md-column(6);
	}
  }

  .expos {
	h3 {
	  margin-bottom: 1em;
	}

	.column {
	  @include make-sm-column(6);
	  @include make-xs-column(12);
	}
  }

  .articles {
	h3 {
	  margin-bottom: 1em;
	}

	.item {
	  border: 1px solid silver;
	  overflow: hidden;
	  @include border-radius();

	  h4 {
		margin-top: 0;
		line-height: 1.2;
	  }

	  .thumbnail {
		width: 100%;
		height: 300px;
		max-width: 50%;
		margin-right: 5%;
		float: left;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	  }

	  .content {
		position: relative;
		padding: 1em;
		float: right;
		width: 45%;
		height: 300px;
	  }
	}
  }

  .timeline-wrapper {
	background: #e1eff4;
  }

  .timeline {
	padding-top: 1em;
	padding-bottom: 1em;

	.controls {
	  margin-bottom: 0.5em;
	}

	.years {
	  float: right;

	  .form-control {
		display: inline-block;
		width: 60px;
	  }
	}

	.graph {
	  height: 100px;
	}
  }

  @media (max-width: $screen-md-max) {
	.box.white {
	  margin-bottom: 1em;
	}
  }

  @media (max-width: $screen-sm-max) {
	.articles {
	  .item {
		height: 285px;

		.thumbnail {
		  max-width: 40%;
		  margin-right: 2%;
		}

		.content {
		  width: 58%;
		  height: 100%;
		}

		.controls {
		  left: auto;
		  right: 1em;
		}
	  }
	}
  }

  @media (max-width: $screen-xs-max) {
	.informations {
	  .box.white {
		padding: 1em;
	  }
	}

	.articles {
	  .item {
		height: auto;
		min-height: 0;

		.thumbnail {
		  float: none;
		  max-width: 100%;
		}

		.content {
		  float: none;
		  width: 100%;
		  height: auto;
		}

		.more {
		  margin-bottom: 5px;
		}
	  }
	}
  }
}