@import "variables";

@font-face {
  font-family: 'Teuton';
  src: url('../fonts/TeutonNormalCE.ttf');
}

@font-face {
  font-family: 'Teuton';
  font-weight: bold;
  src: url('../fonts/TeutonNormalCE-Bold.ttf');
}