<div header-search query="{{:: vm.term }}" image="::vm.settings.headerId" logo="::vm.settings.logoId"></div>
<div id="single-record">
	<div class="navigation" ng-if="::vm.document">
		<div class="container">
			<div class="back">
				<a ng-href="{{ ::vm.getGoBackLink() }}">
					<button type="button" class="btn btn-primary">
						<i class="fa fa-caret-left"></i><i class="fa fa-search"></i> {{ 'Zpět na výsledky vyhledávání'|translate }}
					</button>
				</a>
			</div>
			<div class="pagination">
				<button type="button" ng-click="vm.goToPrevious()" class="btn btn-primary" ng-disabled="vm.currentIndex === 1">
					<i class="fa fa-chevron-left"></i>
				</button>

				<span>{{:: vm.currentIndex }} / {{:: vm.results.length }}</span>

				<button type="button" ng-click="vm.goToNext()" class="btn btn-primary" ng-disabled="vm.currentIndex === vm.results.length">
					<i class="fa fa-chevron-right"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="container" ng-if="::vm.document">
		<div class="row">
			<div class="actions">
				<div class="cover">
					<img ng-src="/dcap/discovery/data/file/{{:: vm.document.imgThumb }}" ng-click="vm.openViewer()" ng-class="{'has-tiles': vm.document.hasOwnProperty('imageIds')}">
				</div>
				<div class="links" ng-if="vm.document.zdoType !== 'periodical' && vm.document.allowContentPublicly">
					<button type="button" ng-click="vm.openViewer()" class="btn btn-primary btn-block" ng-if=":: vm.document.hasOwnProperty('imageIds')">
						<i class="fa fa-search"></i> {{ 'prohlížet'|translate }} ({{ ::vm.document.imageIds.length }})
					</button>
					<button type="button" ng-click="vm.openPlayer()" class="btn btn-primary btn-block" ng-if=":: vm.document.hasOwnProperty('videoId')">
						<i class="fa fa-search"></i> {{ 'prohlížet'|translate }}
					</button>
					<a ng-href="/dcap/discovery/data/pdf/{{:: vm.document.pdfId }}" target="_blank" class="btn btn-primary btn-block" ng-if=":: vm.document.hasOwnProperty('pdfId')">
						<i class="fa fa-download"></i> {{ 'stáhnout PDF'|translate }}
					</a>
					<a ng-href="/dcap/discovery/data/epub/{{:: vm.document.epubId }}" target="_blank" class="btn btn-primary btn-block" ng-if=":: vm.document.hasOwnProperty('epubId')">
						<i class="fa fa-download"></i> {{ 'stáhnout ePUB'|translate }}
					</a>
				</div>
				<div class="links">
					<a href="#" ng-click="vm.favorite(vm.document.inventoryId)">
						<i class="fa fa-thumb-tack"></i>{{ ::'Přidat do oblíbených'|translate }}
					</a>
					<a href="#" ng-if="::vm.document.zdoType !== 'periodical'" ng-click="vm.clipboard(vm.document.inventoryId)">
						<i class="fa fa-clipboard"></i>{{ ::'Přidat do schránky'|translate }}
					</a>
					<a href="#" ng-click="vm.makeDocumentQuery(vm.document.id)">
						<i class="fa fa-envelope-o"></i>{{ ::'Odeslat dotaz'|translate }}
					</a>
                    <!--<a href="#">
                        <i class="fa fa-envelope-o"></i>{{ ::'Odeslat emailem'|translate }}
                    </a>-->
					<a href="#" onclick="window.print();">
						<i class="fa fa-print"></i>{{ ::'Tisknout záznam'|translate }}
					</a>
					<a href="#" ng-click="vm.share()">
						<i class="fa fa-share"></i>{{ ::'Sdílet na Facebooku'|translate }}
					</a>
                    <!--<a href="#">
                        <i class="fa fa-paper-plane"></i>Odeslat připomínku
                    </a>-->
				</div>
			</div>
			<div class="content">
				<p class="copyright" ng-if="::vm.document.allowContentPublicly === false && vm.document.zdoType !== 'periodical'">{{ ::'Tento dokument je chráněn autorským zákonem.'|translate }}</p>
				<h2>{{ ::vm.document.title }}</h2>

                <h4 ng-if="::vm.document.hasOwnProperty('alternative') && vm.document.alternative[0] !== 'unknown' && vm.hideAlternativeTitle === false" ng-repeat="title in vm.document.alternative">{{ ::title }}</h4>

				<div class="informations">
					<div class="row" ng-if="vm.hideInventoryId === false && (vm.hideSignature === false || vm.document.zdoType === 'cho')">
						<div class="term" ng-if="::vm.document.zdoType !== 'cho'">{{ ::'Signatura'|translate }}:</div>
						<div class="term" ng-if="::vm.document.zdoType === 'cho'">{{ ::'Inventární číslo'|translate }}:</div>
						<div class="definition" ng-bind=":: vm.document.inventoryId"></div>
					</div>
					<div class="row">
						<div class="term">{{:: 'Organizace'|translate }}:</div>
						<div class="definition" ng-bind=":: vm.document.getProperty('organization')"></div>
					</div>
					<div class="row" ng-repeat="attr in ::vm.getAttributes() track by $index">
						<div class="term">{{ ::attr.name|translate }}:</div>
						<div class="definition">
							<span ng-repeat="value in ::vm.getValues(attr.key)">{{ ::value }}</span>
						</div>
					</div>
					<div class="row" ng-repeat="(key, values) in ::vm.getCustomAttributes() track by $index">
						<div class="term">{{ ::key }}:</div>
						<div class="definition">
							<span ng-repeat="value in ::values">{{ ::value }}</span>
						</div>
					</div>
				</div>

				<div ng-if="vm.document.zdoType === 'periodical'" class="issue-wrapper">
					<ui-select ng-model="vm.issue" on-select="vm.onIssueSelect($item)">
						<ui-select-match placeholder="{{ ::'Vyberte číslo..'|translate }}">{{ $select.selected.title }}</ui-select-match>
						<ui-select-choices repeat="issue.id as issue in ::vm.issues track by issue.inventoryId" group-by="'volume'">{{:: issue.title }}</ui-select-choices>
					</ui-select>

					<div class="issue" ui-view="issue"></div>

					<div class="issue-list">
						<h5>{{ ::'Seznam čísel'|translate }}</h5>
						<ul>
							<li ng-repeat="i in ::vm.issues track by i.inventoryId" ng-bind=":: i.title"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="related">
				<div class="box">
					<div class="box-header">{{ ::'Podobné dokumenty'|translate }}</div>
					<div class="box-content">
						<div class="entry" ng-repeat="r in ::vm.related">
							<a ui-sref=".({id: r.inventoryId})" ng-bind=":: r.title[0]"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<style ng-bind=":: vm.settings.css"></style>
	</div>
	<div ng-if=":: vm.document === null">
		<div class="page-title">
			<div class="container">
				<h2>Dokument nenalezen</h2>
			</div>
		</div>
		<div class="container">
			<p class="text-center" style="margin: 3em auto;">{{ ::'Dokument není aktuálně dostupný. Pravdepodobně vypršelo období jeho zpřístupnění nebo se na něm právě vykonávají úpravy.'|translate }}</p>
		</div>
	</div>
    <!--<div class="tabs">
        <div class="container">
            <ul class="nav nav-tabs">
                &lt;!&ndash;<li ui-sref-active="active">
                    <a ui-sref=".holdings">
                        <i class="fa fa-book"></i>
                        {{ 'Holdings' }}
                    </a>
                </li>&ndash;&gt;
                <li ui-sref-active="active">
                    <a ui-sref=".reviews">
                        <i class="fa fa-comment"></i> {{ 'Komentáře'|translate }}
                    </a>
                </li>
                &lt;!&ndash;<li ui-sref-active="active">
                    <a ui-sref=".staffView">
                        <i class="fa fa-users"></i>
                        {{ 'Staff view' }}
                    </a>
                </li>&ndash;&gt;
            </ul>
        </div>
        <div class="view" ui-view></div>
    </div>-->
</div>
