<div header-search></div>
<div class="page-title">
	<div class="container">
		<h2>{{ ::'O projektu'|translate }}</h2>
	</div>
</div>
<div id="about">
	<div class="container">
		<p class="mt20">
			<strong>Portál eBadatelna Zlínského kraje</strong> vznikl na základě výzvy č. 19 Integrovaného operačního programu jako projekt
			zaměřený na tématiku <strong>zveřejňování digitálního obsahu sbírkových a knihovních předmětů</strong> paměťových institucí.
			Obsahem portálu eBadatelna je digitalizovaný fond paměťových institucí zřizovaných Zlínským krajem. 
		</p>

		<p>
			Cílem bylo vybudovat portál, který má regionální zaměření a současně dokáže poskytovat data do jiných portálů obdobného zaměření.
			V případě eBadatelny Zlínského kraje jsou data muzejních sbírek a galerie poskytována do českého portálu eSbírky a portálu Europeana,
			který je svým záběrem nadnárodní. Stejně jako poskytovat externím portálů umí portál eBadatelna rovněž sklízet a dohledat data napojených externích portálů,
			které umí tyto služby poskytovat prostřednictvím protokolů OAI-PMH, SRU a Z39.50.
		</p>

		<h3>Zapojené paměťové instituce</h3>

		<p>Na portálu můžete nalézt digitalizované fondy následujících institucí:</p>
		<ul class="mb10">
			<li>Slovácké muzeum v Uherském Hradišti</li>
			<li>Muzeum jihovýchodní Moravy ve Zlíně</li>
			<li>Muzeum regionu Valašsko</li>
			<li>Muzeum Kroměřížska</li>
			<li>Krajská galerie výtvarného umění ve Zlíně</li>
			<li>Krajská knihovna Františka Bartoše ve Zlíně</li>
			<li>Hvězdárna Valašské Meziříčí</li>
		</ul>


		<h3>Co portál nabízí...</h3>

		<p>
			Portál eBadatelna nabízí možnost vyhledávat dokumenty nebo sbírkové předměty na základě fulltextového vyhledávání,
			zadaného časového období nebo dle zařazení do kategorií např. Knihy, Mapy apod.
			V rámci legislativních podmínek, platného znění Autorského zákona,
			určujícího možnosti pro zveřejnění a zpřístupnění obsahu veřejnosti nabízí portál eBadatelna různé možnosti prohlížení, stažení dokumentu, jeho export do formátu PDF.
			Většina knihovních fondů obsahuje textovou vrstvu OCR, která umožňuje využití výstupu pro formát EPUB a jeho stažení ve formátu pro čtečky knih EPUB.
			Portál podporuje rovněž fultextové vyhledávání nad textovou OCR.
		</p>

		<h3>Registrace uživatelů</h3>

		<p class="mb20">
			Registrovaným uživatelům portál nabízí rozšířené funkce jako např. možnost vytvářet si skupiny oblíbených dokumentů, mailovou komunikaci přímo s kurátory,
			který vybraný dokument či předmět zveřejnili. Portál eBadatelna poskytuje možnost registrace uživatelů jak pro neověřené uživatele tak pro ověřené uživatele.
			Ověřený uživatel může využít pro přihlášení na portál služby <a href="http://static.gc-system.cz/why_mojeid/why_mojeid.html" target="_blank">MojeID</a>.
			V rámci nejvyššího stupně ověření služby MojeID jsou nabízeny další možnosti např. rezervaci předmětů k zapůjčení a další činnosti,
			ze strany instituce nutně vyžadující komunikaci pouze s ověřeným klientem.
		</p>
	</div>
</div>
