<div id="content">
	<div class="sidebar">
		<h4>Články</h4>

		<a ui-sref=".create" class="btn btn-primary">Přidat nový článek</a>

		<h5>Hromadná akce:</h5>
		<button type="button" class="btn btn-danger" ng-click="vm.massRemove()">Odstranit články</button>
	</div>
	<div class="tray">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title">Přehled článků</div>
			</div>
			<div class="panel-body pn">
				<table-view options="vm.options" columns="vm.columns"></table-view>
			</div>
		</div>
	</div>
</div>