<h3>{{ ::'Změna hesla'|translate }}</h3>

<form name="vm.form" ng-submit="vm.submit()" class="form-horizontal" novalidate>
	<div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.passwordOld.$error.required}">
		<label for="form-password-old" class="control-label col-sm-4">{{ ::'Současné heslo'|translate }}</label>

		<div class="col-sm-8">
			<input type="password" class="form-control" name="passwordOld" id="form-password-old" ng-model="vm.values.oldPassword" required>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.passwordNew.$error.required}">
		<label for="form-password-new" class="control-label col-sm-4">{{ ::'Nové heslo'|translate }}</label>

		<div class="col-sm-8">
			<input type="password" class="form-control" name="passwordNew" id="form-password-new" ng-model="vm.values.newPassword" required>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.passwordNewAgain.$error.required}">
		<label for="form-password-new-again" class="control-label col-sm-4">{{ ::'Nové heslo (znovu)'|translate }}</label>

		<div class="col-sm-8">
			<input type="password" class="form-control" name="passwordNewAgain" id="form-password-new-again" ng-model="vm.values.newPasswordAgain" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-8 col-sm-push-4">
			<button type="submit" class="btn btn-primary" ng-disabled="vm.loading">{{ ::'Změnit heslo'|translate }}</button>
		</div>
	</div>
</form>